<div class="portfolio-item person_portfolio" style="max-width: 300px; max-height: 300px; margin-top: 1em;">
  {% if person.url %}
  <a class="portfolio-item__link" href="{{ person.url }}" style="max-width: 250px;">
  {% else %}
  <a class="portfolio-item__link" href="." style="max-width: 250px;">
  {% endif %}
    <div class="portfolio-item__image" >
      <img style="max-height: 250px;" src="{{ person.pic }}" alt="{{ person.name }}">
    </div>
    <div class="portfolio-item__content">
      <div class="portfolio-item__info">
        <h2 class="portfolio-item__title">{{ person.name }}</h2>
      </div>
    </div>
  </a>
  <div class="person_description" style="margin-top: .5em; height: 4em;">
  {{person.name}}<br>{{person.title}}<br>{{person.subject}}
  </div>
</div>
<br>
