<div class="portfolio-item person_portfolio" style="max-width: 250px; max-height: 250px; margin-top: 1em;">
  <a class="portfolio-item__link" href="{{deck.url}}" target="_blank" style="max-width: 200px;">

    <div class="portfolio-item__image" >
      <img style="max-height: 200px;" src="{{ deck.thumb }}" alt="{{ deck.title }}">
    </div>
    <div class="portfolio-item__content">
      <div class="portfolio-item__info">
        <h2 class="portfolio-item__title">{{ deck.title }}</h2>
      </div>
    </div>
  </a>
  <div style="margin-top: .5em; height: 4em;">
  <a href="{{deck.url}}" target="_blank">{{deck.title}}</a>
  </div>
</div>
<br>
